.design-card {
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    user-select: none;
}
.design-card__body {
    position: relative;
}
.design-card__img {
    width: 100%;
}
.design-card__logo-img {
    height: 3px;
    width: 27px;
}
.design-card__title {
    position: absolute;
    top: 40px;
    left: 11px;
    max-width: 138px;
    font-family: 'HeadingNow';
    font-style: normal;
    font-weight: 500;
    font-size: 29.0098px;
    line-height: 88%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #383838;
}

.design-card[data-design="1"] .design-card__title {
    color: #1957A4;
}
.design-card[data-design="2"] .design-card__title {
    color: #FFE3E9;
}
.design-card[data-design="3"] .design-card__title {
    color: #FFFFFF;
}
.design-card[data-design="4"] .design-card__title {
    color: #121212;
}
.design-card[data-design="5"] .design-card__title {
    color: #FFE3E9;
}
.design-card[data-design="6"] .design-card__title {
    color: #FFABCA;
}
.design-card[data-design="7"] .design-card__title {
    color: #121212;
}
