.main-page {
    padding-top: 118px;
    padding-bottom: 224px;
    position: relative;
    z-index: 2;
}

.main__container {
    position: relative;
    z-index: 10;
}

.main-page__text  {
    margin-bottom: 20px;
    max-width: 281px;
}

.main__title {
    font-size: 45px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -.03em;
    color: #343537;
    text-align: center;
}

.main__pre-title {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -.02em;
    color: #727272;
    text-align: center;
}

.main__pre-title > span {
    color: #2C2C2C;
}

.main__button {
    margin-bottom: 43px;
    background: #E8FF21!Important;
}

.main__button .my-button__icon-wrap {
    margin-right: 9px;
    background: #FCFCFC!Important;
}

.main__reposts {
    margin-bottom: 16px;
}

.reposts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    max-width: 125px;
}

.reposts__counter {
    display: flex;
    gap: 3px;
    box-shadow: 0 0 0 0.5px #727272;
    border-radius: 160px;
    padding: 2px;
    max-width: 106px;
    width: 100%;
    align-items: center;
    position: relative;
    background: #FCFCFC;
}

.reposts__counter::before {
    content: '';
    height: 8px;
    width: 8px;
    background: #E8FF21;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 1px;
    z-index: 10;
}

.reposts__imgs {
    display: flex;
    position: relative;
}

.reposts__img-wrap {
    border: 1px solid #FFFFFF;
    overflow: hidden;
    max-height: 22px;
    max-width: 22px;
    border-radius: 50%;
}

.reposts__img-wrap:not(:first-child) {
    margin-left: -6px;
}

.reposts__img-wrap:nth-child(1) {
    z-index: 4;
}

.reposts__img-wrap:nth-child(2) {
    z-index: 3;
}

.reposts__img-wrap:nth-child(3) {
    z-index: 2;
}

.reposts__img-wrap:nth-child(4) {
    z-index: 1;
}

.reposts__img {
    object-fit: cover;
    width: 100%;
}

.reposts__count-text {
    font-size: 9px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -.04em;
    color: #777777;
}

.reposts__count {}

.reposts__text {
    font-size: 8px;
    line-height: 8px;
    font-weight: 400;
    letter-spacing: -.02em;
    color: #727272;
    text-align: center;
}

.main__background-images {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.main__background-images > * {
    position: absolute;
}

.main__pink-bottle-img {
    top: -35px;
    left: -38px;
    transform: rotate(21.45deg);
    position: absolute;
    max-height: 298px;
}
.main__blue-ball-img {
    position: absolute;
    top: -69px;
    left: 65%;
    max-height: 196px;
    z-index: 5;
}

.main__bag-img {
    bottom: -45px;
    right: -149px;
    max-height: 312px;
}

.main__card-img {
    bottom: -73px;
    left: -3px;
    transform: rotate(9.07deg);
    max-height: 290px;
    border-radius: 12px;
    box-shadow: 0px 13.23px 39.68px 0px rgba(45, 45, 45, 0.15);

}
@import url('../fonts/suisseintl-book.css');
/* ZERO STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Suisseinl-Book";  
    src: url("../fonts/suisseintl-book.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400;
}

@font-face {
    font-family: "HeadingNow";  
    src: url("../fonts/HeadingNow-35Medium.otf") format("truetype"); 
    font-style: normal; 
    font-weight: 500;
}

@font-face {
    font-family: "Manrope";  
    src: url("../fonts/Manrope-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500;
}

html,
body {
    height: 100%;
    font-family: 'Suisseinl-Book';
    font-size: 12px;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
    letter-spacing: .0em;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #292929;
    cursor: pointer;
}

ol,
ul {
    padding: 0;
    margin: 0;
}

img,
iframe {
    vertical-align: bottom;
}

input {
    outline: none;
}
input:focus {
    outline: none;
}

button {
    cursor: pointer;
}

.my-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

.main {
    flex: 1 0 auto;
}

.main > * {
    height: 100%;
}

.content {
    padding-top: 54px;
    padding-bottom: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.constructor {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.constructor.active {
    opacity: 1;
}

.inner-title {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -.06em;
}

.header {
    padding-top: 29px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.logo-link {
}
.logo-wrap {
}
.logo {
}
.my-button {
    display: flex;
    align-items: center;
    width: 190px;
    max-height: 34px;
    padding: 3px;
    background: #FCFCFC;
    font-family: 'Manrope';
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: -.02em;
    color: #000;
    text-transform: lowercase;
    border-radius: 1000px;
    box-shadow: 0px 8px 24px 0px #2D2D2D26;
    position: relative;
}
.my-button__icon-wrap {
    height: 28px;
    width: 28px;
    background: #E8FF21;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
}
.my-button__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.my-button__text {
    display: block;
    width: 70%;
    text-align: center;
}
/* .my-button::before {
    content: '';
    display: inline-block;
    height: 28px;
    width: 28px;
    position: relative;
    background: #E8FF21;
    border-radius: 50%;
    margin-right: 9px;
}
.my-button::after {
    content: url('../../imgs/button/lightning.svg');
    position: absolute;
    left: 11px;
} */
.my-input {
    width: 100%;
    max-width: 400px;
    font-family: 'Manrope';
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -.02em;
    color: #a5a5a5;
    padding: 11px;
    border: none;
    box-shadow: 0px 8px 24px 0px rgba(45, 45, 45, 0.15);
    background: #FCFCFC;
    border-radius: 10px;
}
.my-input::placeholder {
    color: #d3d3d3;
}
.design-card {
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    user-select: none;
}
.design-card__body {
    position: relative;
}
.design-card__img {
    width: 100%;
}
.design-card__logo-img {
    height: 3px;
    width: 27px;
}
.design-card__title {
    position: absolute;
    top: 40px;
    left: 11px;
    max-width: 138px;
    font-family: 'HeadingNow';
    font-style: normal;
    font-weight: 500;
    font-size: 29.0098px;
    line-height: 88%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #383838;
}

.design-card[data-design="1"] .design-card__title {
    color: #1957A4;
}
.design-card[data-design="2"] .design-card__title {
    color: #FFE3E9;
}
.design-card[data-design="3"] .design-card__title {
    color: #FFFFFF;
}
.design-card[data-design="4"] .design-card__title {
    color: #121212;
}
.design-card[data-design="5"] .design-card__title {
    color: #FFE3E9;
}
.design-card[data-design="6"] .design-card__title {
    color: #FFABCA;
}
.design-card[data-design="7"] .design-card__title {
    color: #121212;
}
.main__loading {
}
.loading-page {
}
.loading-page__container {
    height: 100%;
    padding: 163px 0px 48px 0px;
}
.loading-page__loader {
    margin-bottom: 5px;
}
.loader-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.loader-wrap__text {
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -.06em;
    color: #343537;
    order: 1;
}

.loader-wrap__loader {
    width: 50%;
    height: 1px;
    background-color: #969696;
    position: absolute;
    animation: moveLoader .7s infinite ease-in-out;
    order: 2;
    bottom: -10px;
}

.loading-page__img-wrap {
    max-height: 367px;
    max-width: 367px;
}
.loading-page__img {
    height: 100%;
    width: auto;
}

@keyframes moveLoader {
    0%, 100% {
        left: 0%;
        transform: translateX(0);
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
    }
}
.main {
}
.main__design {
}
.design-page {
}
.design-page__container {
}
.design-page__content {
}
.design-page__text {
    margin-bottom: 48px;
}
.design-page__title {
}
.design-page__constructor {
    margin-bottom: 60px;
    overflow: visible;
}
.design-page__my-input {
    display: none;
}
.design-page__slider {
}
.design-slider {
    overflow: visible;
}
.design-slider__swiper {
    width: 176px;
    overflow: visible;
}
.design-slider__swiper-wrapper {
    margin-bottom: 24px;
}
.design-slider__slide {
    height: 300px;
    border-radius: 18px;
    padding: 8px;
}
.design-slider__card {
    box-shadow: none!Important;
}
.design-slider__slide.swiper-slide-active {
    height: 300px;
    border-radius: 18px;
    background: #FCFCFC;
    padding: 8px;
    box-shadow: 0px 8px 24px 0px rgba(45, 45, 45, 0.15);
}
.design-slider__swiper-pagination {
    position: relative;
}
.swiper-pagination-bullet {
    background: #D9D9D9;
    opacity: 1;
    height: 6px;
    width: 6px;
}
.swiper-pagination-bullet:not(:last-child) {
    margin: 0px 5px 0px 0px!Important;
}
.swiper-pagination-bullet:last-child {
    margin: 0px!Important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000;
}
.design-page__link {
}
.my-button__icon-wrap {
    margin-right: 5px;
}
.main {
}
.main__text {
}
.text-page {
}
.text-page__container {
}
.text-page__content {
}
.text-page__text {
    margin-bottom: 18px;
}
.text-page__title {
}
.text-page__constructor {
    margin-bottom: 40px;
}
.text-page__my-input {
    display: none;
}
.text-page__slider {
    margin-bottom: 32px;
    max-width: 127px;
    overflow: visible;
}
.text-slider {
}
.text-slider__swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
}
.text-slider__swiper-wrapper {
}
.text-slider__slide {
}
.text-slider__card {
}
.text-slider__slide.swiper-slide-active > .text-card {
    background-color: #FCFCFC;
    border-radius: 10px;
    box-shadow: 0px 8px 24px 0px rgba(45, 45, 45, 0.15);
    padding: 9px 5px 12px 5px;
}
.text-card {
    max-width: 127px;
    padding: 9px 0px 12px 0px;
    user-select: none;
    cursor: pointer;
}
.text-card__inner {
    text-align: center;
}
.text-card__text {
    font-family: 'Manrope';
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -.02em;
}
.text-page__design-card-container {
    max-width: 172px;
    max-height: 306px;
}
.text-page__design-card {
    box-shadow: 0px 8px 24px 0px rgba(45, 45, 45, 0.15);
}
.text-page__button {
}
.main {}

.main__name {}

.name-page {}

.name-page__container {}

.name-page__content {}

.content {}

.name-page__text {}

.name-page__title {}

.name-page__constructor {
    padding-top: 81px;
    padding-bottom: 319px;
    width: 100%;
}

.name-page__my-input {}

.name-page__button {}
.main__result {
}
.result-page {
}
.result-page__container {
}
.result-page__content {
    padding-top: 98px;
}
.result-page__text {
}
.result-page__title {
    margin-bottom: 49px;
}
.result-page__constructor {
    margin-bottom: 16px;
}
.result-page__design-card-wrap {
    padding: 11px;
    background-color: #FFF;
    border-radius: 13px;
    width: 224px;
    height: 380px;
}
.result-page__design-card {
    max-width: 201px;
    border-radius: 11px;
    overflow: hidden;
    box-shadow: 0px 8px 26px 0px rgba(45, 45, 45, 0.15);
}
.result-page__design-card-img {
    width: 100%;
}
.result-page__link {
    width: 139px;
}
.result-page__link .my-button__text {
    display: block;
    width: 60%;
    text-align: center;
}

