.my-button {
    display: flex;
    align-items: center;
    width: 190px;
    max-height: 34px;
    padding: 3px;
    background: #FCFCFC;
    font-family: 'Manrope';
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: -.02em;
    color: #000;
    text-transform: lowercase;
    border-radius: 1000px;
    box-shadow: 0px 8px 24px 0px #2D2D2D26;
    position: relative;
}
.my-button__icon-wrap {
    height: 28px;
    width: 28px;
    background: #E8FF21;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
}
.my-button__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.my-button__text {
    display: block;
    width: 70%;
    text-align: center;
}
/* .my-button::before {
    content: '';
    display: inline-block;
    height: 28px;
    width: 28px;
    position: relative;
    background: #E8FF21;
    border-radius: 50%;
    margin-right: 9px;
}
.my-button::after {
    content: url('../../imgs/button/lightning.svg');
    position: absolute;
    left: 11px;
} */
