.main {}

.main__name {}

.name-page {}

.name-page__container {}

.name-page__content {}

.content {}

.name-page__text {}

.name-page__title {}

.name-page__constructor {}

.constructor {
    padding-top: 81px;
    padding-bottom: 319px;
    width: 100%;
}

.name-page__my-input {}

.name-page__button {}