.main {
}
.main__design {
}
.design-page {
}
.design-page__container {
}
.design-page__content {
}
.design-page__text {
    margin-bottom: 48px;
}
.design-page__title {
}
.design-page__constructor {
    margin-bottom: 60px;
    overflow: visible;
}
.design-page__my-input {
    display: none;
}
.design-page__slider {
}
.design-slider {
    overflow: visible;
}
.design-slider__swiper {
    width: 176px;
    overflow: visible;
}
.design-slider__swiper-wrapper {
    margin-bottom: 24px;
}
.design-slider__slide {
    height: 300px;
    border-radius: 18px;
    padding: 8px;
}
.design-slider__card {
    box-shadow: none!Important;
}
.design-slider__slide.swiper-slide-active {
    height: 300px;
    border-radius: 18px;
    background: #FCFCFC;
    padding: 8px;
    box-shadow: 0px 8px 24px 0px rgba(45, 45, 45, 0.15);
}
.design-slider__swiper-pagination {
    position: relative;
}
.swiper-pagination-bullet {
    background: #D9D9D9;
    opacity: 1;
    height: 6px;
    width: 6px;
}
.swiper-pagination-bullet:not(:last-child) {
    margin: 0px 5px 0px 0px!Important;
}
.swiper-pagination-bullet:last-child {
    margin: 0px!Important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000;
}
.design-page__link {
}
.my-button__icon-wrap {
    margin-right: 5px;
}
