.main__loading {
}
.loading-page {
}
.loading-page__container {
    height: 100%;
    padding: 163px 0px 48px 0px;
}
.loading-page__loader {
    margin-bottom: 5px;
}
.loader-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.loader-wrap__text {
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -.06em;
    color: #343537;
    order: 1;
}

.loader-wrap__loader {
    width: 50%;
    height: 1px;
    background-color: #969696;
    position: absolute;
    animation: moveLoader .7s infinite ease-in-out;
    order: 2;
    bottom: -10px;
}

.loading-page__img-wrap {
    max-height: 367px;
    max-width: 367px;
}
.loading-page__img {
    height: 100%;
    width: auto;
}

@keyframes moveLoader {
    0%, 100% {
        left: 0%;
        transform: translateX(0);
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
    }
}
