.main {}

.main__name {}

.name-page {}

.name-page__container {}

.name-page__content {}

.content {}

.name-page__text {
    max-width: 220px;
}

.name-page__title {}

.name-page__constructor {
    padding-top: 81px;
    padding-bottom: 319px;
    width: 100%;
}

.name-page__my-input {}

.name-page__button {}

@media (min-width: 375px) {
    .name-page__text {
        max-width: 260px;
    }

    .name-page__constructor {
        padding-top: 82px;
        padding-bottom: 368px;
    }
}

@media (min-width: 430px) {
    .name-page__text {
        max-width: 312px;
    }

    .name-page__constructor {
        padding-top: 85px;
        padding-bottom: 420px;
    }
}
